<div class="bg(purple)">
    <div class="d(flex) ai(center) maxw(xl) m(0-auto) px(20px) py(15px)">
        <a class="mr(20px) pr(20px) bri(1) bc(purple1) td(none) c(purple4) c-hover(purple6) t(all)" routerLink="home"><span class="icon icon-logo"></span></a>
        <a class="td(none) f(1.3rem) c(purple4) c-hover(purple6) c-active(purple6) t(all)" routerLink="home" routerLinkActive="is-active">Home</a>
        <a class="ml(40px) td(none) f(1.3rem) c(purple4) c-hover(purple6) c-active(purple6) t(all)" routerLink="invoices" routerLinkActive="is-active">Invoices</a>
    </div>
</div>
<router-outlet></router-outlet>