<div *ngIf="invoice">
    <div class="bgc(ebony-clay) pb(40px) pt(15px)">
        <div class="d(flex) ai(center) maxw(xl) m(0-auto) px(20px)">
            <div>
                <h1 class="fw(300) fs(3.2rem) c(white)">{{invoice.invoice_id}}</h1>
            </div>
            <div class="ml(auto)">
                <a class="bra(2px) px(20px) py(10px) bgc(radical-red-light) bgc-hover(radical-red) td(none) fw(600) fs(1.1rem) c(white) tt(uppercase) ls(0.1rem) t(all) cu(pointer)" (click)="deleteInvoice()">Eliminar Factura</a>
            </div>
        </div>
    </div>
</div>