@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $black6;
  font-family: "Open Sans";
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.4rem;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.4rem;
}